<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <title>Ant Design Pro</title>
  <link rel="icon" href="/favicon.png" type="image/x-icon">
  <!-- 百度编辑器js依赖 -->
  <script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.config.js"></script>
  <script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.all.min.js"></script>
  <script type="text/javascript" charset="utf-8" src="/ueditor/lang/zh-cn/zh-cn.js"></script>
  <!-- END -->
  <!-- 百度编辑器秀米依赖 -->
  <script src="/ueditor/xiumi-ue-dialog-v5.js"></script>
  <link rel="stylesheet" href="/ueditor/xiumi-ue-v5.css">
  <!-- END -->
  <script src="https://gw.alipayobjects.com/os/antv/pkg/_antv.data-set-0.9.5/dist/data-set.min.js"></script>
  <!-- 全局配置 -->
  <script>
    window.appConfig = {
        uploadHost: '',
        staticHost: '',
    }
  </script>
  <!-- END -->
</head>
<body>
  <noscript>Sorry, we need js to run correctly!</noscript>
  <div id="root"></div>
</body>
</html>
